<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password Page</title>

    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap3/dist/css/bootstrap.css">
</head>
<body>
    {% include "auth/partials/nav.twig" %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Change Password Page</h1>

                {% include "templates/error-list/bootstrap.twig" %}

                <form action="{{ path_for('auth.change-password') }}" method="POST" role="form">
                    {{ csrf.field | raw }}

                    <div class="form-group">
                        <label for="email">Current Password</label>
                        <input type="password" class="form-control" name="current_password" autofocus>
                    </div>

                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" name="new_password">
                    </div>

                    <div class="form-group">
                        <label for="password">Confirm New Password</label>
                        <input type="password" class="form-control" name="confirm_new_password">
                    </div>

                    <button type="submit" class="btn btn-primary">Save New Password</button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap3/dist/js/bootstrap.js"></script>
</body>
</html>