{% extends "auth/layout-auth.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Home</h1>

            {% include "templates/flash-message.twig" %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
{% endblock %}
