<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config('app.name') }}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="/favicon.png">

    <link rel="stylesheet" type="text/css" href="/css/app.css" />

    {% block styles %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>
