{% extends "auth/layout-auth.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Login</h1>

            {% include "templates/flash-message.twig" %}

            <form method="POST" action="{{ path_for('auth.login') }}" id="login-form">
                {{ csrf.field | raw }}

                {{ errors | json_encode }}

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" autocomplete />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
{% endblock %}
