{% extends "auth/layout-auth.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Register</h1>

            <form method="POST" action="{{ path_for('auth.register') }}">
                {{ csrf.field | raw }}

                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" name="first-name" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" name="last-name" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" autocomplete />
                </div>

                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm-password" class="form-control" autocomplete />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
