{% extends "auth/layout.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Reset password</h1>

            <form method="POST" action="{{ path_for('auth.reset-password', {token: token}) }}" id="reset-password-form">
                {{ csrf.field | raw }}

                {% include "auth/templates/field.twig" with {field_type: "password", field_name: "new_password", enabled_old_input: false, enabled_success: false} %}
                {% include "auth/templates/field.twig" with {field_type: "password", field_name: "confirm_new_password", enabled_old_input: false, enabled_success: false} %}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript" src="/node_modules/jquery-validation/dist/additional-methods.js"></script>

<script type="text/javascript" src="/js/jquery-validation/add-methods.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/auth/reset-password.js"></script>
{% endblock %}
