<?php

namespace {{namespace}}\Models;

use Illuminate\Database\Eloquent\Model;

class {{model}} extends Model
{
    protected $fillable = ['column1'];

    public static function _create(array $data)
    {
        return static::create([
            'column1' => $data['column1']
        ]);
    }

    public static function _update($id, array $data)
    {
        $user = static::find($id);
        $user->column1 = $data['column1'];

        $has_change = $user->isDirty();
        $user->save();

        return $has_change;
    }

    public static function search($keyword)
    {
        return static::where('column1', 'LIKE', "%{$keyword}%")
                ->get();
    }
}