<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<meta name="_token" content='{{ csrf.json }}'>
</head>
<body>
	<button id="test">Test Post Request multiple times</button>

	<script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/js/system/csrf-helper.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		// test 1
		// $.ajax({
		// 	url: '/test-ajax-get-to-be-call',
		// 	type: 'GET',
		// 	dataType: 'JSON',
		// 	data: {name: 'John Doe'},

		// 	success: function(response)
		// 	{
		// 		console.log(response);
		// 	}
		// });

		// test 2
		$('#test').click(function(event) {
			$.ajax({
				url: '/test-ajax-post-to-be-call',
				type: 'POST',
				dataType: 'JSON',
				data: postWithToken({name: 'John Doe'}),

				success: function(response)
				{
					console.log(response);
				}
			});
		});
	});
	</script>
</body>
</html>