<?php

namespace {{namespace}}\Http\Controllers{{sub_directories}};

use Framework\BaseController;

class {{controller}} extends BaseController
{
	public function index($request, $response)
	{
		// code
	}
}
