<?php

namespace {{namespace}}\Http\Controllers{{sub_directories}};

use Controllers\Controller;

class {{controller}}Controller extends BaseController
{
	public function index($request, $response)
	{
		// code
	}
}
