<?php

{{top_template}}

class {{controller}}Controller extends BaseController
{
	public function index($request, $response)
	{
		// code
	}

	public function show($request, $response, $args)
	{
		// code
	}

	public function create($request, $response)
	{
		// code
	}

	public function store($request, $response)
	{
		// code
	}

	public function edit($request, $response, $args)
	{
		// code
	}

	public function update($request, $response)
	{
		// code
	}

	public function delete($request, $response)
	{
		// code
	}
}