# {{pre_controller_namespace}}{{controller}}Controller
$container['{{pre_controller_namespace}}{{controller}}Controller'] = function ($c)
{
    return new App\Http\Controllers\{{pre_controller_namespace}}{{controller}}Controller($c);
};

