{% extends "layouts/quick-crud.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">{{model_capital}} list</h1>

            {% include "templates/flash-messages/bootstrap.twig" %}

            <div class="row">
                <div class="col-md-6">
                    <a href="{{ path_for('{{model_singular}}.create') }}" class="btn btn-primary btn-sm">Create {{model_capital}}</a>
                </div>

                {% if {{model_plural}}.isNotEmpty() %}
                <div class="col-md-4 col-md-offset-2">
                    <form method="GET" action="{{ path_for('{{model_singular}}.search') }}">
                        {{ csrf.field | raw }}
                        <div class="input-group">
                            <input type="text" name="keyword" class="form-control pull-right" placeholder="Search {{model_singular}} here ...">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>

            {% if {{model_plural}}.isNotEmpty() %}
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Column1</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, {{model_singular}} in {{model_plural}} %}
                            <tr>
                                <td>{{ {{model_singular}}.column1 }}</td>
                                <th>
                                    <a href="{{ path_for('{{model_singular}}.show', {id: {{model_singular}}.id}) }}" class="btn btn-default btn-sm">View</a>
                                    <a href="{{ path_for('{{model_singular}}.edit', {id: {{model_singular}}.id}) }}" class="btn btn-success btn-sm">Edit</a>
                                    <a href="javascript:void(0)" data-route="{{ path_for('{{model_singular}}.delete', {id: {{model_singular}}.id}) }}" class="btn btn-danger btn-sm delete-{{model_singular}}">Delete</a>
                                </th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% include "templates/pagination/bootstrap.twig" %}
            {% else %}
                <p>No {{model_capital}}</p>
            {% endif %}
        </div>
    </div>
</div>
<form method="POST" id="delete-{{model_singular}}-form">
    {{ csrf.field | raw }}
    <input type="hidden" name="_METHOD" value="DELETE">
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('.delete-{{model_singular}}').click(function(event) {
        var route = $(this).data('route');

        bootbox.confirm("Are you sure you want to continue this action?", function(is_yes) {
            if (is_yes)
            {
                $('#delete-{{model_singular}}-form').attr('action', route).submit();
            }
        });
    });
});
</script>
{% endblock %}