<?php

return [
    'AuthController' => {{auth_controller}}::class,
    'RegisterController' => {{register_controller}}class,
    'ForgotPasswordController' => {{forgot_password_controller}}::class,
    'ResetPasswordController' => {{reset_password_controller}}::class,
    'AccountDetailController' => {{account_detail_controller}}::class,

    'ValidToLoginMiddleware' => {{valid_to_login_middleware}}::class,
    'UserMiddleware' => {{user_middleware}}::class,
    'GuestMiddleware' => {{guest_middleware}}::class
];