Important Note: You need to setup manually the following:

* Register your route with this snippet code beneath:

(new \AuthSlim\AuthRoute(config('auth')))->routes();

// Use middleware {{namespace}}\Http\Middlewares\Auth\UserMiddleware for authenticated routes
$app->get('/authenticated-page', function ($request, $response) {
    return $this->view->render($response, "auth/authenticated-page.twig");
})
->add(new {{namespace}}\Http\Middlewares\Auth\UserMiddleware($container))
->setName('auth.authenticated-home-page');
