<?php

namespace {{namespace}}\Models\_Auth;

use Illuminate\Database\Eloquent\Model;
use RodrigoIII\Auth\Models\UserTrait;

class User extends Model
{
    use UserTrait;

    protected $fillable = ['first_name', 'last_name', 'email', 'password', 'auth_token'];
}