<?php

namespace {{namespace}}\Http\Middlewares\_Auth;

use Middlewares\Middleware;
use RodrigoIII\Auth\Middlewares\ValidToLoginTrait;

class ValidToLogin extends Middleware
{
    use ValidToLoginTrait;
}