<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config('app.name') }}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block meta %}
    {% endblock %}

    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/auth.css" />

    {% block styles %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Skeleton Auth</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if auth_user %}
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{ auth_user.getFullName() }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if config('auth.modules.account_setting.enabled') %}
                                    <li><a href="{{ path_for('auth.account-setting') }}">Account Setting</a></li>
                                {% endif %}

                                {% if config('auth.modules.login.enabled') %}
                                    <li><a href="javascript:void(0)" onclick="document.getElementById('auth-logout-form').submit()">Log out</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% else %}
                        {% if config('auth.modules.register.enabled') %}
                            <li><a href="{{ path_for('auth.register') }}">Register</a></li>
                        {% endif %}

                        {% if config('auth.modules.forgot_password.enabled') %}
                            <li><a href="{{ path_for('auth.forgot-password') }}">Forgot Password</a></li>
                        {% endif %}

                        {% if config('auth.modules.login.enabled') %}
                            <li><a href="{{ path_for('auth.login') }}">Login</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% if auth_user %}
        {% if config('auth.modules.login.enabled') %}
            <form method="POST" action="{{ path_for('auth.logout') }}" id="auth-logout-form" hidden>
                {{ csrf.field | raw }}
            </form>
        {% endif %}
    {% endif %}

    {% block scripts %}
    {% endblock %}
</body>
</html>
