<?php

namespace {{namespace}}\Console\Commands;

use Console\Commands\BaseCommand;

class {{command}}Command extends BaseCommand
{
	private $signature = "{{command_name}}";

	private $description = "";

	public function __construct()
	{
		parent::__construct($this->signature, $this->description);
	}

	public function handle($input, $output)
	{
		$output->writeln("Command {{command}} is ready.");
	}
}
