<?php

namespace {{namespace}}\Http\Requests;

use {{namespace}}\Validation\Validator;
use Request\Request;
use Respect\Validation\Validator as v;

class {{request}} extends Request
{
    private $request;

    public function __construct($request = [])
    {
        $this->request = $request;
    }

    public function rules()
    {
        return [
            // field => validator
        ];
    }

    public function test()
    {
        $validate = Validator::validate($this->request, $this->rules());
        return $validate::passed();
    }
}