<?php

namespace {{namespace}}\Validation\Exceptions;

use Respect\Validation\Exceptions\ValidationException;

class {{validator}}Exception extends ValidationException
{
	public static $defaultTemplates = [
		self::MODE_DEFAULT => [
			self::STANDARD => {{error_message}}
		]
	];
}