<?php

namespace {{namespace}}\Http\Controllers\Auth;

use AuthSlim\Controllers\ResetPasswordControllerTrait;
use FrameworkCore\BaseController;

class ResetPasswordController extends BaseController
{
    use ResetPasswordControllerTrait;
}