<?php
///////////////////////////////////////////////////////////////
// Important note:                                           //
// # Create table {{model_plural}}. Follow the schema below: //
// {{model_plural}}(                                         //
//     'column1' VARCHAR(255),                               //
//     'created_at' DATETIME,                                //
//     'updated_at' DATETIME,                                //
// )                                                         //
//                                                           //
// # Copy this template below and paste it in routes/web.php //
$app->group('/{{model_plural}}', function () {
    $this->get('', "{{model_capital}}Controller:index")->setName('{{model_singular}}.list');

    $this->get('/{id:[0-9]+}/show', "{{model_capital}}Controller:show")->setName('{{model_singular}}.show');
    $this->get('/search', "{{model_capital}}Controller:search")->setName('{{model_singular}}.search');

    $this->get('/create', "{{model_capital}}Controller:create")->setName('{{model_singular}}.create');
    $this->post('/create', "{{model_capital}}Controller:store");

    $this->get('/{id:[0-9]+}/edit', "{{model_capital}}Controller:edit")->setName('{{model_singular}}.edit');
    $this->put('/{id:[0-9]+}/edit', "{{model_capital}}Controller:update");

    $this->delete('/{id:[0-9]+}/delete', "{{model_capital}}Controller:delete")->setName('{{model_singular}}.delete');
});

///////////////////////////////////
// # Web dependency requirements //
// * bootstrap3                  //
// * jquery                      //
// * bootbox                     //
///////////////////////////////////
