<?php

namespace {{namespace}}\Http\Requests;

use {{namespace}}\Validation\Validator;
use FrameworkCore\BaseRequest;
use Respect\Validation\Validator as v;

class {{model}}Request extends BaseRequest
{
    public function rules()
    {
        switch(strtoupper($this->request->getMethod()))
        {
            case 'POST':
                $rules = [
                    'column1' => v::notEmpty()
                ];
                break;

            case 'PUT':
                $rules = [
                    'column1' => v::notEmpty()
                ];
                break;

            default:
            $rules = [];
        }

        return $rules;
    }

    public function isValid()
    {
        $validate = Validator::validate($this->request, $this->rules());
        return $validate::passed();
    }
}