<?php

namespace {{namespace}}\Http\Controllers\Auth;

use AuthSlim\Controllers\AuthControllerTrait;
use Framework\BaseController;

class AuthController extends BaseController
{
    use AuthControllerTrait;
}