<?php

namespace {{namespace}}\Http\Controllers\Auth;

use Framework\BaseController;
use AuthSlim\Controllers\AuthControllerTrait;

class AuthController extends BaseController
{
    use AuthControllerTrait;

    public function successRedirect($response)
    {
        $this->flash->addMessage('success', "Successfully Login.");
        return $response->withRedirect($this->container->router->pathFor('auth.authenticated-home-page'));
    }

    public function failRedirect($response)
    {
        $this->flash->addMessage('danger', "Invalid email and password.");
        return $response->withRedirect($this->container->router->pathFor('auth.login'));
    }

    public function getLogin($request, $response)
    {
        return $this->getTwigView()->render($response, "auth/login.twig");
    }
}