<?php

namespace {{namespace}}\Http\Controllers\Auth;

use AuthSlim\Controllers\ForgotPasswordControllerTrait;
use Framework\BaseController;

class ForgotPasswordController extends BaseController
{
	use ForgotPasswordControllerTrait;
}