<?php

namespace {{namespace}}\Http\Controllers\Auth;

use AuthSlim\Controllers\RegisterControllerTrait;
use Framework\BaseController;

class RegisterController extends BaseController
{
	use RegisterControllerTrait;
}