{% extends "layouts/user.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">User list</h1>

            <a href="{{ path_for('user.create') }}" class="btn btn-primary btn-sm">Create User</a>
            <br><br>

            {% include "templates/flash-message.twig" %}

            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped" id="user-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form method="POST" id="delete-user-form">
    {{ csrf.field | raw }}
    <input type="hidden" name="_METHOD" value="DELETE">
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/node_modules/datatables.net/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/node_modules/datatables.net-bs/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/node_modules/bootbox/bootbox.js"></script>
<script type="text/javascript" src="/node_modules/underscore/underscore.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#user-table').on('click', '.delete-user', function(event) {
        var route = $(this).data('route');

        bootbox.confirm("Are you sure you want to continue this action?", function(is_yes) {
            if (is_yes)
            {
                $('#delete-user-form').attr('action', route).submit();
            }
        });
    });

    $('#user-table').DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            url: "{{ path_for('api.user.data') }}"
        },
        columns: [
            {data: "id"},
            {data: "first_name"},
            {data: "last_name"},
            {data: "email"},
            {
                orderable: false,
                data: function (row, type, set) {
                    var id = row.id;

                    var tmpl = _.template($('#action-tmpl').html());

                    return tmpl({
                        view_url: "/users/" + id + "/show",
                        edit_url: "/users/" + id + "/edit",
                        delete_url: "/users/" + id + "/delete",
                    });
                }
            }
        ]
    });
});
</script>

<script type="text/template" id="action-tmpl">
    <a href="<%= view_url  %>" class="btn btn-default btn-sm">View</a>
    <a href="<%= edit_url %>" class="btn btn-success btn-sm">Edit</a>
    <a href="javascript:void(0)" data-route="<%= delete_url %>" class="btn btn-danger btn-sm delete-user">Delete</a>
</script>
{% endblock %}
