{% extends "layouts/user.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">User Info</h1>
            <a href="{{ path_for('user.list') }}" class="btn btn-default">Back to user list</a>
            <br>
            {{ user | json_encode }}
        </div>
    </div>
</div>
{% endblock %}
