<?php

namespace {{namespace}}SkeletonAuth\Controllers;

use SkeletonAuth\AccountSetting\AccountSettingTrait;
use SkeletonCore\BaseController;

class AccountSettingController extends BaseController
{
    use AccountSettingTrait;
}
