<?php

namespace {{namespace}}SkeletonAuth\Controllers;

use SkeletonAuth\ChangePassword\ChangePasswordTrait;
use SkeletonCore\BaseController;

class ChangePasswordController extends BaseController
{
    use ChangePasswordTrait;
}
