<?php

namespace {{namespace}}SkeletonAuth\Controllers;

use SkeletonAuth\Traits\ForgotPassword\ForgotPassword as ForgotPasswordTrait;
use SkeletonCore\BaseController;

class ForgotPasswordController extends BaseController
{
    use ForgotPasswordTrait;
}
