<?php

namespace {{namespace}}SkeletonAuth\Controllers;

use SkeletonAuth\Traits\Register\Register as RegisterTrait;
use SkeletonCore\BaseController;

class RegisterController extends BaseController
{
    use RegisterTrait;
}
