<?php

namespace {{namespace}}SkeletonAuth\Controllers;

use SkeletonAuth\ResetPassword\ResetPasswordTrait;
use SkeletonCore\BaseController;

class ResetPasswordController extends BaseController
{
    use ResetPasswordTrait;
}
