<?php

namespace {{namespace}}SkeletonAuth\Controllers;

use SkeletonAuth\Traits\ResetPassword\ResetPassword as ResetPasswordTrait;
use SkeletonCore\BaseController;

class ResetPasswordController extends BaseController
{
    use ResetPasswordTrait;
}
