<?php

namespace {{namespace}}\Http\Middlewares\Auth;

use {{namespace}}\Models\Auth\User;
use AuthSlim\Auth\Auth;
use AuthSlim\Middlewares\UserMiddlewareTrait;
use FrameworkCore\BaseMiddleware;

class UserMiddleware extends BaseMiddleware
{
    use UserMiddlewareTrait;
}