<?php

namespace {{namespace}}\Console\Commands;

use FrameworkCore\BaseCommand;

class {{command}} extends BaseCommand
{
	/**
	 * Console command signature
	 * @var string
	 */
	private $signature = "{{command_name}}";

	/**
	 * Console command description
	 * @var string
	 */
	private $description = "";

	/**
	 * Create a new command instance
	 */
	public function __construct()
	{
		parent::__construct($this->signature, $this->description);
	}

	/**
	 * Execute the console command
	 */
	public function handle($input, $output)
	{
		$output->writeln("Command {{command}} is ready.");
	}
}
