# {{pre_controller_namespace}}{{controller}}
$container['{{pre_controller_namespace}}{{controller}}'] = function ($c)
{
    return new App\Http\Controllers\{{pre_controller_namespace}}{{controller}}($c);
};

