<?php

namespace SkeletonAuthApp\Mailers;

use SkeletonAuth\Traits\Mailers\RegisterVerification as RegisterVerificationTrait;
use SkeletonMailer\Mailer;

class RegisterVerification extends Mailer
{
    use RegisterVerificationTrait;
}
