<?php

namespace {{namespace}}\Notifications;

use NotificationSlim\Mail;
use NotificationSlim\NotificationInterface;

class {{notification}} implements NotificationInterface
{
    public function sendMail()
    {
        return (new Mail)
            ->subject("") // email subject
            ->from(['foo@example.com' => "Foo Bar"]) // email => full name
            ->to(['baz@example.com' => "Foo Baz"]) // email => full name
            ->view("test.twig"); // this is relative at view_path options
    }
}