<?php

namespace {{namespace}}\Http\Middlewares\Auth;

use AuthSlim\Middlewares\ValidToLoginMiddlewareTrait;
use Framework\BaseMiddleware;

class ValidToLoginMiddleware extends BaseMiddleware
{
    use ValidToLoginMiddlewareTrait;
}