<?php

namespace {{namespace}}\Http\Middlewares\Auth;

use Framework\BaseMiddleware;
use AuthSlim\Middlewares\ValidToLogin as ValidToLoginTrait;

class ValidToLogin extends BaseMiddleware
{
    use ValidToLoginTrait;
}