{% extends "auth/layouts/app.twig" %}

{% block title %}Reset Password Page |{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Reset Password Page</h1>

            {% include "auth/templates/error-list/bootstrap.twig" %}

            <form action="{{ path_for('auth.reset-password', {token: token}) }}" method="POST" role="form">
                {{ csrf.field | raw }}

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" autofocus />
                </div>

                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" name="confirm_password" />
                </div>

                <button type="submit" class="btn btn-primary">Save New Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}