{% extends "auth-admin/layouts/admin-page.twig" %}

{% block page_header %}Change Password{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-body">
                <form method="POST" action="{{ path_for('auth-admin.change-password') }}" id="change-password-form">
                    {{ csrf.field | raw }}

                    {% include "auth-admin/templates/field.twig" with {field_type: "password", field_name: "current_password", enabled_old_input: false, enabled_success: false} %}
                    {% include "auth-admin/templates/field.twig" with {field_type: "password", field_name: "new_password", enabled_old_input: false, enabled_success: false} %}
                    {% include "auth-admin/templates/field.twig" with {field_type: "password", field_name: "confirm_new_password", enabled_old_input: false, enabled_success: false} %}

                    <button type="submit" class="btn btn-primary btn-block btn-flat">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript" src="/js/jquery-validation/add-methods.js"></script>
<script type="text/javascript" src="/js/auth/change-password.js"></script>
{% endblock %}
