{% extends "auth-admin/layouts/guest-page.twig" %}

{% block content %}
<div class="guest-box">
    <div class="guest-logo">
        <b>Skeleton Auth</b> Admin
    </div>
    <div class="guest-box-body">
        <p class="guest-box-msg">Send email to reset your password</p>
        <form method="POST" action="{{ path_for('auth-admin.forgot-password') }}" id="forgot-password-form">
            {{ csrf.field | raw }}

            {% include "auth-admin/templates/field.twig" with {field_name: "email", enabled_old_input: false, enabled_success: false} %}

            <button type="submit" class="btn btn-primary btn-block btn-flat">Send Email</button>
        </form>

        <br />
        <a href="{{ path_for('auth-admin.login') }}">Go To Login</a><br>
        <a href="{{ path_for('auth-admin.register') }}" class="text-center">Register a new admin</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript" src="/js/auth-admin/forgot-password.js"></script>
{% endblock %}
