{% extends "auth-admin/admin-lte/layouts/guest-page.twig" %}

{% block content %}
<div class="guest-box">
    <div class="guest-logo">
        <b>Skeleton Auth</b> Admin
    </div>
    <div class="guest-box-body">
        <form method="POST" action="{{ path_for('auth-admin.login') }}" id="login-form">
            {{ csrf.field | raw }}

            {{ errors | json_encode }}

            <div class="form-group has-feedback">
                <input type="text" name="email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
            </div>
        </form>
        <a href="#">I forgot my password</a><br>
        <a href="register.html" class="text-center">Register a new membership</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript" src="/js/auth-admin/login.js"></script>
{% endblock %}
