{% extends "auth-admin/layouts/guest-page.twig" %}

{% block content %}
<div class="guest-box">
    <div class="guest-logo">
        <b>Skeleton Auth</b> Admin
    </div>
    <div class="guest-box-body">
        <form method="POST" action="{{ path_for('auth-admin.register') }}" id="register-form" enctype="multipart/form-data">
            {{ csrf.field | raw }}

            {{ errors | json_encode }}

            {% include "auth-admin/templates/flash-message.twig" %}

            {% include "auth-admin/templates/image_field.twig" with {field_name: "picture", enabledQuickLoadImage: true} %}
            {% include "auth-admin/templates/field.twig" with {field_name: "first_name"} %}
            {% include "auth-admin/templates/field.twig" with {field_name: "last_name"} %}
            {% include "auth-admin/templates/field.twig" with {field_name: "email"} %}
            {% include "auth-admin/templates/field.twig" with {field_type: "password", field_name: "password", enabled_old_input: false, enabled_success: false} %}
            {% include "auth-admin/templates/field.twig" with {field_type: "password", field_name: "confirm_password", enabled_old_input: false, enabled_success: false} %}

            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
            </div>
        </form>
        <br />
        <a href="{{ path_for('auth-admin.login') }}" class="text-center">I already have a membership</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript" src="/node_modules/jquery-validation/dist/additional-methods.js"></script>

<script type="text/javascript" src="/js/jquery-validation/add-methods.js"></script>
<script type="text/javascript" src="/js/auth-admin/register.js"></script>
{% endblock %}
