{% extends "auth-admin/layouts/guest-page.twig" %}

{% block content %}
<div class="guest-box">
    <div class="guest-logo">
        <b>Skeleton Auth</b> Admin
    </div>
    <div class="guest-box-body">
        <p class="guest-box-msg">Enter your new password</p>
        <form method="POST" action="{{ path_for('auth-admin.reset-password', {token: token}) }}" id="reset-password-form">
            {{ csrf.field | raw }}

            {% include "auth-admin/templates/field.twig" with {field_type: "password", field_name: "new_password", enabled_old_input: false, enabled_success: false} %}
            {% include "auth-admin/templates/field.twig" with {field_type: "password", field_name: "confirm_new_password", enabled_old_input: false, enabled_success: false} %}

            <button type="submit" class="btn btn-primary btn-block btn-flat">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript" src="/js/jquery-validation/add-methods.js"></script>
<script type="text/javascript" src="/js/auth-admin/reset-password.js"></script>
{% endblock %}
