<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <h1>Please click the link below to redirect into reset password page.</h1>
    <a href="{{ link }}">{{ link }}</a>
</body>
</html>