<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Crud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- build:css /dist/css/app.css -->
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap3/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/datatables.net-bs/css/dataTables.bootstrap.css">
    <!-- endbuild -->

    {% block styles %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    <!-- build:js /dist/js/app.js -->
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap3/dist/js/bootstrap.js"></script>
    <!-- endbuild -->
    {% block scripts %}
    {% endblock %}
</body>
</html>
