<?php

namespace {{namespace}}SkeletonAuth\Mailers;

use SkeletonAuth\Traits\Mailers\ResetPasswordLink as ResetPasswordLinkTrait;
use SkeletonMailer\Mailer;

class ResetPasswordLink extends Mailer
{
    use ResetPasswordLinkTrait;
}
